* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

body {
	background-color:#222222;
	color: rgb(255, 255, 255);
	font-family: "Segoe UI", Verdana, serif;
	font-size:12pt;
	margin:0;
	padding:0;
}

/* Header */

.header {
    width: 100%;
    background: rgb(42, 43, 53);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Menu */

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.menu .nav{
    flex-basis: 60%; 
    display: flex;
    justify-content: center; 
}

.menu ul {
    width: 100%;
    display: flex;
    padding: 0; 
    margin: 0; 
}

.menu li {
    list-style-type: none;
    text-align: center; 
}

.menu a {
    color: white; 
    text-decoration: none;
	display: block; 
    padding: 10px 15px; 
    transition: background-color 0.3s; 
}

.menu a:hover {
    background-color: #555; 
}

.menu img {
    height: 50px; 
    width: auto; 
	margin-left: 10px;
}


/* Burger menu */
.burger-menu {
    display: none; /* Cache par défaut */
    cursor: pointer;
}

.burger-lines {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

/* Body */

.body .background video {
    position: fixed;
    height: 100vh;
}

.body .background .overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0.7;
}

.body .background-desert{
    height: 100vh;
    background-image: url(../img/desert.png);
    background-size: cover;
    background-position: center center;
}

.body .background-medieval{
    height: 100vh;
    background-image: url(../img/medieval.png);
    background-size: cover;
    background-position: center center;
}

.body .background-moderne{
    height: 100vh;
    background-image: url(../img/moderne.png);
    background-size: cover;
    background-position: center center;
}

.body .background-apocalypse{
    height: 100vh;
    background-image: url(../img/apocalyptic.png);
    background-size: cover;
    background-position: center center;
}

.body .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.body h1 {
    font-size: 36px;
}


/* Footer */

.footer {
    width: 100%;
    background: rgb(42, 43, 53);
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer p{
    text-align: center;
}

/* Format mobile */

@media screen and (max-width: 768px) {

    .menu .nav {
        flex-basis: 100%;
    }

    .burger-menu {
        display: block;
    }

    .menu ul {
        display: none;
        width: 100%;
        flex-direction: column; 
    }

    .menu li {
        text-align: center;
        padding: 10px 0;
    }

    .menu.active ul {
        display: flex; 
    }
}

